@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
body {
    font-family: 'Work Sans';
    background-color: #222;
    margin-right: 0;
    padding-left: 20%;
    padding-top: 15%;
    color: #fff;
}

h1 {
    font-size: 100px;
    margin: 0;
}

a {
    font-size: 20px;
}