{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Your Animes Online - {{ episodio.titulo }}</title>
  <script src="/static/episodio.js/"></script>
  <link rel="stylesheet" href="/static/episodio.css/">
</head>  
<style>

</style>


<body>
  <div class="player">
    <div class="player-ui">
      <div class="player-ui-topbar">
        <div class="btn">
          <a href="{% url 'index' %}"><img src="/static/seta.png/" /></a>
        </div>
        
        <div id="fs" class="btn right">
          <img src="/static/full.png/" />
        </div>
      </div>
    </div>
    
    <video id="video" controls>
      <source src="{{ episodio.source }}" type="video/mp4">
    </video>
  </div>
</body>
  <script src="/static/episodio.js/"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</html>