<!DOCTYPE html>
<html>
<head>
	<title>Animes</title>
</head>
<body>

{% extends "main/base.html" %}

{% block title %} Media Gallery {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3> Animes </h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="row">
                <p>Lista de Animes</p>
                {% for a in animes %}
                <div class="col-md-55">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <img style="width: 100%; display: block;" src="{{ a.capa }}"/>
	                    <div class="mask">
	                       	<p>{{ a.sinopse }}</p>
	                       	<div class="tools tools-bottom">
	                        	<p>{{ a.genero }}</p>
	                        </div>
						          </div>
	        
	                   </div>
                        <div class="caption">
                          {% if a.ult_episodio.id %}
                            <p><a href="{% url 'episodio' a.ult_episodio.id %}">{{ a.nome }}</p>
                          {% else %}
                            ola
                          {% endif %}

                        </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
</body>
</html>