<!DOCTYPE html>
<html>

  <title>Your Animes Online - Episódios</title>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    {% block head %}
      <!-- Custom Theme Style -->
      <link href="/static/build/css/custom.css" rel="stylesheet">
    {% endblock head %}
  
</head>

<style>

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .font-size {
    font-size: 20px;
  }

  .font-color {
    color: white;
  }

  .capa {

  }

</style>

<body>
  <div class="row">
    <div class="col-sm-12"></div>
  </div>

    <p>Animes</p>
    {% for a in animes %}
      {% if a.ult_episodio.id %}
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="card" style="width: 300px">
                      <div class="inner">
                          <img src="{{ a.capa }}" style="width: 300px" alt="image" href="{% url 'episodio' a.ult_episodio.id %}">
                            <div class="inner overlay">
                                  <div class="bottom-left"><b><a class="font-size font-color" href="{% url 'episodio' a.ult_episodio.id %}">{{ a.nome }}</a></b></div>
                                
                            </div>                  
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% else %}
      {% endif %}
    {% endfor %}
    
</body>

</html>