<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		

	</style>
	<title></title>
</head>
<body>
	<form class="form" action="{% url 'cadastros' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% if contato_id %}
			<input type="text" name="id" value="{{ contato_id }}">
		{% endif %}
		{% for form in forms %}
			<div class="row">
				{% for field in form %}
					<div class="col-md-6">
						{{ field.label }}: 
					</div>
					<div class="col-md-6">	
						{{ field }}
						{{ field.errors }}
					</div>
					<br>
				{% endfor %}
			</div>
		{% endfor %}


		<!-- <div class="row">
			<div class="col-md-6">
				<label for="nome">Nome:</label>
				<br>
				<input type="text" name="nome" id="nome" class="form-control">
				<br>
				<label for="sobrenome">Sobrenome:</label>
				<br>
				<input type="text" name="sobrenome" id="sobrenome" class="form-control">
				<br>
				<label for="telefone">Telefone:</label>
				<br>
				<input type="tel" name="telefone" class="form-control">
			</div>
			<div class="col-md-6">
				<label for="img">Escolha o arquivo:</label><br>
				<input type="file" name="img" accept="*">
			</div>
		-->
			<div class="col-md-12">
				<button type="submit" class="btn btn-success float-right">Enviar:</button>
			</div>

		</div>
	</form>


</body>
</html>